table,
th,
td {
  text-align: center!important;
}
#title-heading{
  font-size: 130px;
}


#queue {
  width: 100%;
}

td {
  border-right: 1px dotted gray;
  background: rgba(220, 220, 220, 0.4);
}

body {
  padding-top: 50px;
  padding-right: 100px;
  padding-left: 50px;
}

form {
  margin-bottom: 50px;
}

.selectionOptions {
  display: block;
  margin-left: 30%;
  margin-right: 35%;
}

.selectionOptions ul {
  display: inline-table;
  white-space: nowrap;
}

.complete {
  color: white;
  cursor: pointer;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 1px rgb(25, 72, 0);
  background: rgb(79, 195, 18);
  text-align: center;
  padding: 5%;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 9px 0px #84261a;
  -moz-box-shadow: 0px 9px 0px #84261a;
  box-shadow: 0px 9px 0px green;
}

.complete:hover {
  background: green;
}

.complete:active {
   -webkit-box-shadow: 0px 2px 0px #84261a;
  -moz-box-shadow: 0px 2px 0px #84261a;

  box-shadow: 0px 2px 0px green;
  position: relative;
  left: 7px;
}

li {
  list-style-type: none;
  color: #243ac7;
  font-size: 14px;
}


/*STYLING FOR ORDER PAGE*/

.selectionOptions {
  text-align: center;
}

.selectionOptions ul {
  display: inline-table;
  white-space: nowrap;
}

.selectionOptions ul li {
  color: #AAAAAA;
  display: inline-block;
  padding: 5%;
}

.selectionOptions ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.selectionOptions ul li label {
  cursor: pointer;
  position: relative;
  font-weight: 300;
  font-size: 3em;
  -webkit-transition: all 0.25s linear;
}

.selectionOptions input[type=radio]:checked ~ label {
  color: #33cc33;
}


/*ON CLICK*/

ul li .drinkCell img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  /*    border: 6px solid #33cc33;
    border-radius: 6px;*/
}

.selected-drink {
  border: 5px solid black;
}

ul li .drinkCell img.selectedDrink {
  border: 6px solid red;
  border-radius: 6px;
}

button {
  display: inline-block;
  margin: auto auto;
  border-radius: 28px;
  color: green;
  font-size: 15px;
  background: white;
  padding: 5px 10px 5px 5px;
  text-decoration: none;
  margin-top: 5px;
  border: 1;
  border-color: #009900;
  outline: none;
}

#topbar button {
  color: #009900;
}

#results button {
  color: #009900;
}

ul li .drinkCell button {
  color: #009900;
}

button:hover {
  background: #f2f2f2;
  text-decoration: none;
  border: 1;
  border-color: #009900;
  outline: none;
}


/*DRINK DISPLAY */

ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  list-style-type: none;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

ul li .drinkCell {
  height: 550px;
  overflow: hidden;
  -webkit-column-break-inside: avoid;
  text-align: center;
}

.drinkName,
p {
  display: inline;
  font-size: 2em;
  color: #686868;
  font-weight: bold;
}

.drinkPrice {
  display: inline;
  font-size: 2em;
  color: #686868;
}


/*submit order + submit order + close buttons*/

.orderButtons {
  position: fixed;
  right: 10%;
  top: 40%;
}

.shoppingCart img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}


input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 100%;
    height: 25px;
    background: #0000ff;
    background: -moz-linear-gradient(left,  #0000ff 0%, #0000ff 50%, #000000 50%, #000000 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0000ff), color-stop(50%,#0000ff), color-stop(50%,#000000), color-stop(100%,#000000));
    background: -webkit-linear-gradient(left,  #0000ff 0%,#0000ff 50%,#000000 50%,#000000 100%);
    background: -o-linear-gradient(left,  #0000ff 0%,#0000ff 50%,#000000 50%,#000000 100%);
    background: -ms-linear-gradient(left,  #0000ff 0%,#0000ff 50%,#000000 50%,#000000 100%);
    background: linear-gradient(to right,  #bfff00, #ff4000, #661a00);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#000000',GradientType=1 );
    border-radius: 2px;
    margin-top: 25px;
}


input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none; 
    -moz-apperance:none; 
    width:40px; 
    height:40px;
    -webkit-border-radius:20px; 
    -moz-border-radius:20px; 
    -ms-border-radius:20px; 
    -o-border-radius:20px; 
    border-radius:20px;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #d7d7d7), color-stop(0.51, #d1d1d1), color-stop(1, #c8c8c8) );
    border: 1px solid #787878;
}


